<h1>Codes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Prefix</th>
      <th>Code</th>
      <th>Description</th>
      <th>Historic</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
<% @codes.each do |code| %>
    <tr>
      <td><%= link_to code.id, code %></td>
      <td><%= code.prefix %></td>
      <td><%= code.code %></td>
      <td><%= code.description %></td>
      <td><%= 'Yes' if code.historic? %></td>
      <td>
        <%= link_to 'Edit', edit_code_path(code), :class => 'btn btn-mini' %>
        <%= link_to 'Destroy', code, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link_to 'New Code', new_code_path, :class => 'btn btn-primary' %>

<%= paginate @codes %>
