<%= form_for(@lease, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
      <% @lease.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <ul id="tab" class="nav nav-tabs">
      <li class="active"><a href="#lease" data-toggle="tab">Lease Details</a></li>
      <li><a href="#rent" data-toggle="tab">Rent Details</a></li>
      <li><a href="#term" data-toggle="tab">Term Details</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade active in" id="lease">
        <div class="control-group">
          <%= f.label :property_id, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :property_id,:value =>  params[:property_id] %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :type_of_lease, :class => 'control-label' %>
          <div class="controls">
            <%= f.collection_select(:type_of_lease, Code.lease_type, :code, :description, { :include_blank => true }) %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :commencement_date, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :commencement_date, :class => 'span2 datepicker' %>
            <p class="help-block">Use dd/mm/yyyy format</p>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :expiry_date, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :expiry_date, :class => 'span2 datepicker' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :termination_type, :class => 'control-label' %>
          <div class="controls">
            <%= f.collection_select(:termination_type, Code.termination_type, :code, :description, { :include_blank => true }) %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :termination_date, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :termination_date, :class => 'span2 datepicker' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :reference_number, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :reference_number %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :site_unit, 'Site/Unit No', :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :site_unit %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :area, :class => 'control-label' %>
          <div class="controls">
            <div class="input-append">
              <%= f.text_field :area %><span class="add-on">Ha</span>
            </div>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :lead_in_time, :class => 'control-label' %>
          <div class="controls">
            <%= f.collection_select(:lead_in_time, Code.lead_in_time, :code, :description, { :include_blank => true }) %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :premises_type_of_use, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :premises_type_of_use, :size => '30x2' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :dhb_bond_id, 'Dept of Building & Housing Bond ID', :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :dhb_bond_id %>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="rent">
        <div class="control-group">
          <%= f.label :dr_unique_id, 'Debtor ID', :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :dr_unique_id %>
            <%= button_to_function 'Search', :class => 'btn' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :invoice_code, 'Invoice Code', :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :invoice_code %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :gl_unique_id, 'General Ledger ID', :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :gl_unique_id %>
            <%= button_to_function 'Search', :class => 'btn' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :payment_frequency, :class => 'control-label' %>
          <div class="controls">
            <%= f.collection_select(:payment_frequency, Code.payment_frequency, :code, :description, { :include_blank => true }) %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :rent_fee, 'Rent/Fee', :class => 'control-label' %>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">$</span><%= f.text_field :rent_fee %>
            </div>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :rent_review, 'Next rent review', :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :rent_review, :class => 'span2 datepicker' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :last_rent_review_date, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :last_rent_review_date, :class => 'span2 datepicker' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :review_valuation, :class => 'control-label' %>
          <div class="controls">
            <%= f.check_box :review_valuation %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :credit_check, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :credit_check %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :risk_insurance, 'Risk insurance cover', :class => 'control-label' %>
          <div class="controls">
            <%= f.check_box :risk_insurance %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :risk_insurance_amount, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :risk_insurance_amount %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :inc_gst, 'Inc GST', :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :inc_gst %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :cpi_adjustment_date, 'CPI adjustment date', :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :cpi_adjustment_date, :class => 'span2 datepicker' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :previous_rent_1, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :previous_rent_1 %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :previous_rent_2, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :previous_rent_2 %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :previous_rent_3, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :previous_rent_3 %>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="term">
        <div class="control-group">
          <%= f.label :term_of_lease, :class => 'control-label' %>
          <div class="controls">
            <%= f.collection_select(:term_of_lease, Code.lease_term, :code, :description, { :include_blank => true }) %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :lease_per_annum, :class => 'control-label' %>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">$</span><%= f.text_field :lease_per_annum %>
            </div>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :who_pays_the_rates, :class => 'control-label' %>
          <div class="controls">
            <%= f.select :who_pays_the_rates, options_for_select(['Select', 'Lessee', 'lessor', 'Not applicable'], :disabled => ['Select']) %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :rates_percentage, :class => 'control-label' %>
          <div class="controls">
            <div class="input-append">
              <%= f.text_field :rates_percentage, :class => 'span1' %><span class="add-on">%</span>
            </div>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :power, :class => 'control-label' %>
          <div class="controls">
            <%= f.select :power, options_for_select(['Select', 'Lessee', 'Lessor', 'Not applicable'], :disabled => ['Select']) %>
          </div>
        </div>
        <% if Code.site.eql?('ENVIRONMENT_WAIKATO') %>
        <div class="control-group">
          <%= f.label :enviroment_waikato, 'Environment Waikato', :class => 'control-label' %>
          <div class="controls">
            <%= f.select :environment_waikato, options_for_select(['Select', 'Lessee', 'lessor', 'Not applicable'], :disabled => ['Select']) %>
          </div>
        </div>
        <% end %>
        <div class="control-group">
          <%= f.label :council_resolution, :class => 'control-label' %>
          <div class="controls">
            <%= f.check_box :council_resolution %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :council_resolution_link, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :council_resolution_link, :class => 'span4' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :insurance_percentage, :class => 'control-label' %>
          <div class="controls">
            <div class="input-append">
              <%= f.text_field :insurance_percentage, :class => 'span1' %><span class="add-on">%</span>
            </div>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :interest_rate, 'Default interest rate', :class => 'control-label' %>
          <div class="controls">
            <div class="input-append">
              <%= f.text_field :interest_rate, :class => 'span1' %><span class="add-on">%</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', properties_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    // TODO
  }
<% if false %>
  <% unless params[:selected_tab_name].blank? %>
    $("#lease_details").tabs("select", '<%= params[:selected_tab_name] %>');
  <% end %>
    $("form").validity(function() {
      $("#lease_property_id")
        .require("Property ID is invalid please link to a property");
      $("div").addClass("ui-tabs-hide");
      FocusTabWithErrors('#lease');
      $("#lease_details").tabs("select", '<%= params[:selected_tab_name] %>');
    });
  })

  function FocusTabWithErrors(tabPanelName) {
    var tabpanel = $(tabPanelName);
    var tabselect = tabpanel.find('.error').val($(this).children().text()).parents('div:first').attr('id');
    tabpanel.tabs("select", tabselect).addClass('ui-tabs-selected');
    tabpanel.tabs("select", tabselect).removeClass('ui-tabs-hide');
  }
<% end %>
</script>

